* {
  outline: 1px solid red;
}

body {
  /* color: white; */
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
}

.navbar-nav {
  .nav-link_ {
    color: black;

    &.active {
      color: black;
    }

    &:hover {
      color: white;
    }
  }
}

.cover_ {
  background-image: url("../img/673473.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 75vh;
  padding-top: 300px;

  h1 {
    font-size: 24px;
    margin: 0 auto;

    @media screen and (min-width: 500px) {
      font-size: 32px;
    }

    @media screen and (min-width: 992px) {
      font-size: 40px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 48px;
    }
  }

  hr {
    opacity: 1;
  }

  p {
    font-size: 16px;

    @media screen and (min-width: 992px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }
}

main {
  background-color: rgba(235, 235, 235, 1);
  padding: 50px 0;

  .main-container_ {
    @media screen and (min-width: 992px) {
      width: 960px;
    }
  }

  .section1_ {
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 50px;
    text-align: justify;
  }

  .card-body_ {
    @media screen and (min-width: 768px) {
      height: 250px;
    }

    h5 {
      @media screen and (min-width: 768px) {
        height: 80px;
      }

      @media screen and (min-width: 992px) {
        height: 50px;
      }
    }
  }
}

footer {
  background-color: rgba(235, 235, 235, 1);

  .funding_ {
    font-size: 0;
  }

  .contact_ {
    p {
      margin: 5px 0;
      width: 90%;
    }

    .contact-icon_ {
      height: 100%;
      width: 16px;

      i {
        line-height: inherit;
      }
    }
  }

  .map_ {
    iframe {
      height: 300px;
    }
  }
}
