/* * {
  outline: 1px solid red;
} */

:root {
  --layout-gray: rgba(142, 142, 142, 1);
  --layout-white-gray: rgba(235, 235, 235, 1);
  --layout-white: rgba(255, 255, 255, 1);
  --layout-white-transparent: rgba(255, 255, 255, 0.6);
  --primary-black: rgba(0, 0, 0, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --primary-blue: rgba(53, 106, 195, 1);
  --primary-blue-sky: rgba(88, 138, 223, 1);
  --primary-green-light: rgba(166, 206, 57, 1);
}

body {
  background-color: var(--layout-white-gray);
  font-family: "Open Sans", sans-serif;
  min-width: 350px;
}

/* header */
.navbar_ {
  background-color: var(--layout-white-transparent);
  border-bottom: 1px solid var(--layout-gray);
  min-width: 300px;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

header .nav-link_ {
  color: var(--primary-black);
}

header .nav-link_.active {
  color: var(--primary-black);
}

header .nav-link_:hover,
header .nav-link_.active:hover {
  color: var(--primary-white);
}

.cover_ {
  height: 80vh;
  padding-top: 300px;
  width: 100%;
}

.cover-pic_ {
  background-image: url("../img/20210306_100344-01.jpeg");
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  height: inherit;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: -1;
}

.cover-title_ h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 auto;
  text-shadow: 1px 1px 1px var(--primary-black);
}

@media screen and (min-width: 500px) {
  .cover-title_ h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .cover-title_ h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .cover-title_ h1 {
    font-size: 48px;
  }
}

.cover-title_ p {
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .cover-title_ p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .cover-title_ p {
    font-size: 24px;
  }
}

/* main */
main {
  background-color: var(--layout-white-gray);
  padding: 50px 0;
}

/* section */
.section1_ {
  background-color: var(--layout-white);
  padding: 50px 50px;
}

.section1_ p,
.section1_ li {
  font-size: 14px;
}

.section1_ h2 {
  padding-top: 140px;
  margin-top: -140px;
}

.card-img_ {
  border-bottom: 1px solid var(--layout-gray);
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .card-body_ {
    height: 270px;
  }
  .card-body_ h5 {
    height: 80px;
  }
  .card-img_ {
    height: 214px;
  }
}

@media screen and (min-width: 992px) {
  .card-body_ h5 {
    height: 50px;
  }
  .card-img_ {
    height: 295px;
  }
}
@media screen and (min-width: 1200px) {
  .card-img_ {
    height: 355px;
  }
}
@media screen and (min-width: 1400px) {
  .card-img_ {
    height: 415px;
  }
}

/* footer */
footer {
  background-color: var(--layout-white-gray);
  padding-top: 3rem;
}

.funding_ {
  font-size: 0;
}

.contact_ p {
  display: inline-block;
  margin: 0 0 0 4px;
  vertical-align: top;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .contact_ p {
    width: 85%;
  }
}

@media screen and (min-width: 992px) {
  .contact_ p {
    width: 90%;
  }
}

.contact-icon_ {
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: top;
  width: 16px;
}

.contact-icon_ i {
  line-height: inherit;
}

.map_ iframe {
  border: 0;
  height: 300px;
  width: 100%;
}

.copyright_ {
  text-align: center;
  padding: 1.5rem 0;
}

.copyright_ p {
  font-size: 12px;
  margin: 0 auto;
}

/* index */
.index_ h2 {
  margin-bottom: 1.5rem;
}

.index_ p {
  text-align: justify;
}

/* members */
.person-card_ {
  font-size: 0;
}

.person-card_ .portrait_ {
  height: 200px;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  width: 200px;
}

@media screen and (min-width: 576px) {
  .person-card_ .portrait_ {
    height: 250px;
    width: 250px;
  }
}

.profolio_ {
  margin-top: 14px;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .profolio_ {
    margin-top: 0;
    width: 55%;
  }
}

@media screen and (min-width: 992px) {
  .profolio_ {
    width: 65%;
  }
}

@media screen and (min-width: 1400px) {
  .profolio_ {
    width: 50%;
  }
}

.profolio_ h3,
.profolio_ h4 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profolio_ h3,
  .profolio_ h4 {
    text-align: left;
  }
}

.person-icon_ {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .person-icon_ {
    text-align: left;
  }
}

.person-icon_ a {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  padding: 0 5px;
}

.person-icon_ a:nth-of-type(n + 2) {
  margin-left: 10px;
}

.person-icon_ .fa-envelope {
  color: var(--primary-black);
}

.person-icon_ .fa-google-scholar {
  color: var(--primary-blue);
}

.person-icon_ .fa-orcid {
  color: var(--primary-green-light);
}

/* research */
.research_ p,
.research_ li {
  text-align: justify;
}

/* publications */
.publications_ li {
  margin: 1rem 0;
  padding-left: 5px;
  text-align: justify;
}

.google-scholar-link_ {
  color: var(--primary-blue);
  text-decoration: none;
}

.publication-title_ {
  color: var(--primary-black);
  text-decoration: underline var(--primary-blue-sky);
  text-decoration-thickness: 2px;
  transition: color 0.1s;
}

.publication-title_:hover {
  color: var(--primary-blue-sky);
}

/* gallery */
.gallery_ ul a {
  color: var(--primary-blue);
  text-decoration: none;
}

.gallery_ ul a:hover {
  text-decoration: underline;
}

.gallery_ h4 {
  padding-top: 140px;
  margin-top: -140px;
}

.photo_ {
  border-radius: 0.375rem;
  min-height: 200px;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 400px) {
  .photo_ {
    min-height: 250px;
  }
}

@media (min-width: 992px) {
  .photo_ {
    max-height: 270.66px;
  }
}

@media (min-width: 1200px) {
  .photo_ {
    max-height: 330.66px;
  }
}

@media (min-width: 1400px) {
  .photo_ {
    max-height: 390.66px;
  }
}

.photo_.long-photo_ {
  min-height: auto;
}
