/* * {
  outline: 1px solid red;
} */

body {
  background-color: rgba(235, 235, 235, 1);
  font-family: "Open Sans", sans-serif;
}

.navbar_ {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(142, 142, 142, 1);
}

/* header */
header .nav-link_ {
  color: black;
}

header .nav-link_.active {
  color: black;
}

header .nav-link_:hover,
header .nav-link_.active:hover {
  color: white;
}

.cover_ {
  height: 80vh;
  padding-top: 300px;
  width: 100%;
}

.cover-pic_ {
  background-image: url("../img/20210306_100344-01.jpeg");
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  height: inherit;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: -1;
}

.cover-title_ h1 {
  font-size: 24px;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
}
@media screen and (min-width: 500px) {
  .cover-title_ h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 992px) {
  .cover-title_ h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .cover-title_ h1 {
    font-size: 48px;
  }
}

.cover-title_ hr {
  opacity: 1;
}

.cover-title_ p {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .cover-title_ p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .cover-title_ p {
    font-size: 24px;
  }
}

/* main */
main {
  background-color: rgba(235, 235, 235, 1);
  padding: 50px 0;
}

/* section */
.section1_ {
  background-color: rgba(255, 255, 255, 1);
  padding: 50px 50px;
}

.section1_.index_ p,
.section1_.research_ p,
.section1_.research_ li,
.section1_.publications_ li {
  text-align: justify;
}

.section1_ p,
.section1_ li {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .card-body_ {
    height: 270px;
  }
}

@media screen and (min-width: 768px) {
  .card-body_ h5 {
    height: 80px;
  }
}
@media screen and (min-width: 992px) {
  .card-body_ h5 {
    height: 50px;
  }
}

/* footer */
footer {
  background-color: rgba(235, 235, 235, 1);
}

.funding_ {
  font-size: 0;
}

.contact_ p {
  margin: 5px 0;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .contact_ p {
    width: 85%;
  }
}

@media screen and (min-width: 992px) {
  .contact_ p {
    width: 90%;
  }
}

.contact-icon_ {
  height: 100%;
  width: 16px;
}

.contact-icon_ i {
  line-height: inherit;
}

.map_ iframe {
  height: 300px;
}

.copyright_ p {
  font-size: 12px;
}

/* members */
.person-card_ {
  font-size: 0;
}

.person-card_ .photo_ {
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

@media screen and (min-width: 576px) {
  .person-card_ .photo_ {
    height: 250px;
    width: 250px;
  }
}

.person-card_ .photo_ img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profolio_ {
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .profolio_ {
    margin-top: 0;
    width: 55%;
  }
}

@media screen and (min-width: 992px) {
  .profolio_ {
    width: 65%;
  }
}

/* .profolio_ h3 {
  font-size: 20px;
}

.profolio_ h4 {
  font-size: 16px;
} */

.profolio_ h3,
.profolio_ h4 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profolio_ h3,
  .profolio_ h4 {
    text-align: left;
  }
}

.person-icon_ {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .person-icon_ {
    text-align: left;
  }
}

.person-icon_ a {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  padding: 0 5px;
}

.person-icon_ a:nth-of-type(n + 2) {
  margin-left: 10px;
}

.person-icon_ .fa-envelope {
  color: rgba(0, 0, 0, 1);
}

.person-icon_ .fa-google-scholar {
  color: rgba(53, 106, 195, 1);
}

.person-icon_ .fa-orcid {
  color: rgba(166, 206, 57, 1);
}

/* research */
.research_ img {
  width: 100%;
}

/* publications */
.publications_ .google-scholar-link_ {
  color: rgba(53, 106, 195, 1);
}

.publication-title_ {
  color: black;
  text-decoration: underline rgba(88, 138, 223, 1);
  text-decoration-thickness: 2px;
  transition: color 0.2s;
}

.publication-title_:hover {
  color: rgba(88, 138, 223, 1);
}

.publications_ li {
  padding-left: 5px;
}
